extends ./layout/index.pug
block compartircontenido 
  .container-fluid.p-4.superposicion
    .container-fluid
      h2.fs-4.p-0.text-center.mb-3 Editar de Gerente 
      .container-fluid.d-flex.justify-content-center.row
        if(errores)
          each error in errores 
            .row.justify-content-center
              .alert.alert-dismissible.alert-primary.col-5
                button.btn-close(type='button' data-bs-dismiss='alert')
                strong=error.mensaje
        form.col-5.fondoAzulPastel.p-3.rounded(action="/gerentes/update?id="+gerente.id method="POST")
          .form-group.mb-3
              label(for="nombre") Nombre 
              input#nombre(type="text",placeholder="Ingresa Nombre", name="nombre",class="form-control", value=gerente.name)
          .form-group.mb-3
              label(for="ap_materno") Apellido Materno 
              input#ap_materno(type="text",placeholder="Ingresa el Apellido Materno", name="ap_materno",class="form-control", value=gerente.aMaterno)
          .form-group.mb-3
              label(for="ap_paterno") Apellido Paterno 
              input#ap_paterno(type="text",placeholder="Ingresa el Apellido Paterno", name="ap_paterno",class="form-control", value=gerente.aPaterno)
          .form-group.mb-3
              label(for="telefono") Telefono 
              input#telefono(type="text",placeholder="Ingresa el Telefono", name="telefono",class="form-control", value=gerente.tel)   
          input.btn.btn-success.btn-block(type="submit", value='Aplicar Cambios')