extends ./layout/index.pug
block compartircontenido 
  .container-fluid.p-4
    .container-fluid
      h2.fs-4.p-0.text-center.mb-3 Editar Nuevo Hotel
      .container-fluid.d-flex.justify-content-center
        form.col-5.bg-secondary.p-3.rounded(action="/hoteles/update" method="POST")
          .form-group.mb-3
              label(for="nombre") Nombre del Hotel
              input(type="text",placeholder="Ingresa Nombre del Hotel", name="nombre",class="form-control", value=hotel.nombre)
          .form-group.mb-3
              label(for="id_gerente") Nombre del Gerente
              select(placeholder="Ingresa el nombre del gerente", name="id_gerente",class="form-control")
                each gerente in gerentes
                  option(value=gerente.id disabled=gerente.asignado selected=gerente.opcion)=`${gerente.name} ${gerente.aPaterno} ${gerente.aMaterno}`
          input.btn.btn-info.btn-block(type="submit", value='Añadir nuevo gerente')
          .form-group.mb-3
              label(for="direccion") Direccion
              input(type="text",placeholder="Ingresa la direccion", name="direccion",class="form-control", value=hotel.direccion)
          .form-group.mb-3
              label(for="telefono") Telefono 
              input(type="text",placeholder="Ingresa el Telefono", name="telefono",class="form-control", value=hotel.telefono)
          .form-group.mb-3
              label(for="correo") E-Mail 
              input(type="text",placeholder="Ingrese el correo electronico", name="correo",class="form-control", value=hotel.correo)   
          input.btn.btn-success.btn-block(type="submit", value='Guardar Cambios')