extends ./layout/index.pug
block compartircontenido 
  .container-fluid.p-4.superposicion
    .container-fluid
      h2.fs-4.p-0.text-center.mb-3 Editar Nuevo Hotel
      .container-fluid.d-flex.justify-content-center.row
        .row.justify-content-center
          .alert.alert-dismissible.alert-info.col-8
            button.btn-close(type='button' data-bs-dismiss='alert')
            strong="Cuando termines presiona el boton 'Guardar datos'."
        if(errores)
          each error in errores 
            .row.justify-content-center
              .alert.alert-dismissible.alert-primary.col-8
                button.btn-close(type='button' data-bs-dismiss='alert')
                strong=error.mensaje
        form.col-8.fondoAmarilloPastel.p-3.rounded.d-flex.flex-column(action="/hoteles/update?id="+hotel.id method="POST")
          .form-group.mb-3
              label(for="nombre") Nombre del Hotel
              input(type="text",placeholder="Ingresa Nombre del Hotel", name="nombre",class="form-control", value=hotel.nombre)
          .form-group.mb-3
              label(for="id_gerente") Nombre del Gerente
              select(placeholder="Ingresa el nombre del gerente", name="id_gerente",class="form-control")
                each gerente in gerentes
                  option(value=gerente.id disabled=gerente.asignado selected=gerente.opcion)=`${gerente.name} ${gerente.aPaterno} ${gerente.aMaterno}`
              p **No parece el gerente que buscas?
                a.ms-2(href="/gerentes/create")='Registra uno'
          .form-group.mb-3
              label(for="direccion") Direccion
              input(type="text",placeholder="Ingresa la direccion", name="direccion",class="form-control", value=hotel.direccion)
          .form-group.mb-3
              label(for="telefono") Telefono 
              input(type="text",placeholder="Ingresa el Telefono", name="telefono",class="form-control", value=hotel.telefono)
          .form-group.mb-3
              label(for="correo") E-Mail 
              input(type="text",placeholder="Ingrese el correo electronico", name="correo",class="form-control", value=hotel.correo)   
          input.btn.btn-success.btn-block(type="submit", value='Guardar Datos')
      .container-fluid.d-flex.justify-content-center.row
        .d-flex.fondoAmarilloPastel.col-8.p-3.rounded.mt-3.flex-column
          .fondoAzulPastel.p-2.rounded.col-12
            p.fs-5.text-center Imagenes Actuales
            .contenedorImages.d-flex.flex-wrap
              each img in imagenes 
                .d-flex.p-2.col-6
                  .d-flex.imagenHotel.col-12.align-items-end.rounded(style="background-image: url('/uploads/hotels/"+img.nombre+"');")
                    .container.d-flex.justify-content-end.pb-2
                      a.btn.btn-primary.mx-2.p-1(href=`/hoteles/delete/img?id=${hotel1}&nombre=${img.nombre}`) Eliminar
          .col-12.d-flex.justify-content-center
            form.col-5.p-3.rounded.d-flex.flex-column.align-items-center(action="/hoteles/create/upload?htl="+hotel1+"&edit=true" method="POST" enctype="multipart/form-data")
              .form-group.mb-3
                #src-file2.file-select
                  input(type='file' name='imagen' aria-label='Imagen' id='seleccionArchivos' multiple)
              #archivos.p-2.mb-2.d-flex
              .d-flex.justify-content-center
                input.btn.btn-success.btn-block(type="submit", value='Subir Imagenes', id='boton')
  script.
    const imgs = !{JSON.stringify(imagenes)}
    const htlt = #{hotel.id}
    const contenedor = document.querySelector('#archivos')
    const seleccionArchivos = document.querySelector("#seleccionArchivos")
    const botonEnviar = document.querySelector("#boton")
    botonEnviar.disabled = true
    let imagenes = []
    const renderImg = (imagen) => {
      const newImg = document.createElement('img')
      newImg.setAttribute('src', URL.createObjectURL(imagen))
      newImg.setAttribute('width', '200')
      newImg.setAttribute('height', '200')
      newImg.setAttribute('style', "margin-left: 15px; margin-bottom: 15px;")
      contenedor.appendChild(newImg)
    }
    seleccionArchivos.addEventListener("change", () => {
      botonEnviar.disabled = true
      contenedor.innerHTML = ''
      imagenes = []
      const archivos = seleccionArchivos.files;
      if (!archivos || !archivos.length) {
        botonEnviar.disabled = true
        return;
      }
      boton.disabled = false
      for (let i = 0; i < archivos.length; i++) {
        imagenes.push(archivos[i])
      }
      let dont = 0
      let copias = []
      for (let i = 0; i < imagenes.length; i++) {
        let nombre = htlt + "-" + imagenes[i].name
        imgs.forEach(x => {
          if (x.nombre === nombre) {
            copias.push(imagenes[i].name)
          }
        })
        if (imagenes[i].size >= 1000000) {
          dont++
        }
      }
      if (copias.length !== 0) {
        for (let i = 0; i < copias.length; i++) {
          const newTexto = document.createElement('p')
          newTexto.innerHTML = copias[i] + " ya existe seleccione otra."
          contenedor.appendChild(newTexto)
        }
        botonEnviar.disabled = true
      } else {
        if (dont === 0) {
          for (let i = 0; i < imagenes.length; i++) {
            renderImg(imagenes[i])
          }
        } else {
          const newTexto = document.createElement('p')
          newTexto.innerHTML = "Selecciona imagenes con un tamaño inferior a 1mb."
          newTexto.setAttribute('style', "margin-left: 15px; margin-bottom: 15px;")
          contenedor.appendChild(newTexto)
          botonEnviar.disabled = true
        }
      }
    })
