extends ./layout/index.pug
block compartircontenido 
  .container-fluid.p-5.superposicion
    .container-fluid
      h2.fs-4.p-0.text-center Lista de Habitaciones
      a.btn.btn-danger.fondoNaranjaPastel.d-flex.quitarwidth.align-items-center.mb-3(href='/habitaciones/create')
        img(src='/img/habitacion.png', alt="") 
        p.m-0.ps-2 Añadir Habitacion
    table.table.table-hover.fondoBlanco
      thead.border.fondoNaranjaPastel
        tr
          th(scope='col') Hotel
          th(scope='col') Tipo
          th(scope='col') Refrigerador
          th(scope='col') 
      tbody
        each habitacion in habitaciones
          tr.table-default
              th(scope='row')
                p.m-0=habitacion.nombreHotel
              td
                p.m-0=habitacion.tipo
              td
                p.m-0=habitacion.refri
              td.d-flex.justify-content-end
                a.btn.btn-secondary.mx-2.p-1(href=`/habitaciones/update?id=${habitacion.id}`) Editar
                if admin 
                  a.btn.btn-primary.mx-2.p-1(href=`/habitaciones/delete?id=${habitacion.id}`) Eliminar