extends ./layout/index.pug
block compartircontenido 
  .container-fluid.p-5.superposicion
    .container-fluid
      h2.fs-4.p-0.text-center Lista de Hoteles 
      a.btn.btn-warning.fondoAmarilloPastel.d-flex.quitarwidth.align-items-center.mb-3(href='/hoteles/create')
        img(src='/img/hotel2.png', alt="") 
        p.m-0.ps-2.textoNegro Añadir Hotel
      .alert.alert-dismissible.alert-primary
        button.btn-close(type='button' data-bs-dismiss='alert')
        strong CONSIDERA: Al eliminar un hotel tambien estaras eliminando sus habitaciones correspondientes.
    table.table.table-hover.fondoBlanco
      thead.border.fondoAmarilloPastel
        tr
          th(scope='col') Nombre Hotel
          th(scope='col') Gerente
          th(scope='col') Direccion
          th(scope='col') Teléfono
          th(scope='col') E-Mail
          th(scope='col') 
      tbody
        each hotel in hoteles
          tr.table-default
            th(scope='row')
              p.m-0=hotel.nombre
            td
              p.m-0=hotel.gerente
            td
              p.m-0=hotel.direccion 
            td
              p.m-0=hotel.telefono 
            td
              p.m-0=hotel.correo
            td.d-flex.justify-content-end
              a.btn.btn-secondary.mx-2.p-1(href=`/hoteles/update?id=${hotel.id}`) Editar
              a.btn.btn-primary.mx-2.p-1(href=`/hoteles/delete?id=${hotel.id}`) Eliminar