extends ./layout/index.pug
block compartircontenido 
  .container-fluid.d-flex.row.justify-content-center.px-0.m-0.superposicion.px-5
    .container-fluid.px-5.pt-5.fs-4
      h2.text-center.pb-4='Hola ' + user
      p.px-5.textoNegro Bienvenido al gestor de Hoteles en Zacatlan de las manzanas podras realizar:
      p.px-5.textoNegro=' -  Añadir nuevos Hoteles y Gerentes al sistema.'
      p.px-5.textoNegro=' -  Añadir nuevas habitaciones a Hoteles existentes.'
      p.px-5.textoNegro=' -  Modificar Hoteles, Gerentes y Habitaciones existentes.'
      if admin
        p.px-5.textoNegro=' -  Eliminar Hoteles, Gerentes y Habitaciones existentes.'
  
  


